:root {
 /* colors */
 --main-black: rgba(35, 31, 32, 1);
 --main-white: rgba(247, 247, 237, 1);

 --addable-gray: #E5E5DD;

 --orange: #F57E2A;
 --orange-dark: #FF6A00;
 --yellow: #F5E42A;
 --red: #F52A3B;
 --gray: #3F3B3C;

 --text-black: rgba(35, 31, 32, 0.9);
 --text-white: rgba(255, 255, 255, 1);

 --border: rgba(213, 213, 206, 1);
 --border-faq: rgb(35, 31, 32, 0.08);

 --chart-block-bg: rgb(46, 42, 43);
 --chart-block-br: rgba(255, 255, 255, 0.08);
 --chart-block-title: #7E7C7D;
}
